{% extends 'account/login_base.html' %}
{% load static %}

{% block content %}
    <div class="confirm_password">
        <div class="confirm_password_form">
            <a href="{% url 'accounts:account' %}">
                <div class="logo_confirm_password" ><img src="{% static 'img/logo-blue.png' %}" alt=""></div>
            </a>

            <p>Please enter your new password twice</p>
            <form method="POST">
                {% csrf_token %}
                <label class="input-label confirm"  for="new_password1">
                    <i class="fa-solid fa-lock"></i>
                    {{form.new_password1}} 
                    <label class="placeholder">Password</label>
                </label>

                <label class="input-label confirm"  for="new_password1">
                    <i class="fa-solid fa-lock"></i>
                    {{form.new_password2}}
                    <label class="placeholder">Confirm Password</label>
                </label>

                {% if form.new_password2.errors %}
                    <div class="error-message">
                        
                            {{form.new_password2.errors.as_text}}
                            <p>teste</p>
                    </div>
                {% endif %}

                <div class="center-password"><input class="submit submit-confirm-password" type="submit" value="Change my passsword"></div>
            </form>
        </div>
    </div>
{% endblock content %}