{% load static %}


<dialog id="modal" class="modal_form">
    <form id="reset" method="post" class="form_modal" action="{% url 'accounts:form' %}">
        {% csrf_token %}
        <img class="img_modal" src=" {% static 'img/logo-blue.png' %}" alt="">

        <div class="message">
           {{email}}
        </div>

        <label class="input-label modal-label"  for="email">
            <i class="fa-regular fa-envelope"></i>
            {{login.username}}
        </label>

        <label class="input-label modal-label">
            <i class="fa-regular fa-envelope"></i>
            {{login.email}}
        </label>

        <button class="button_modal submit">send password reset email</button>
        <button type="button" class="submit" id="closeModel">Close</button>
    </form>
</dialog>



<form  action=" {% url 'accounts:login' %}" method="POST" class="form form-login"
name="form_type" value="sing_in">
    {% csrf_token %}

    <div class="logo-form">
        <img src=" {% static 'img/logo-blue.png' %}" alt="">
    </div>

    <h1>enter your account </h1>
 

    <div class="social-links">
        <ul class="links">
            <li><i class="fa-brands fa-google-plus-g"></i></li>
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
        </ul>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if 'login_form' in message.tags %}
                <div class="message {{message.tags}}">
                        <p>{{message}}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <p class="space-form-login" >or use your email  account</p>
    <label class="input-label"  for="email">
        <i class="fa-regular fa-envelope"></i>
        {% comment %} <input type="email" id="email" name="email" id="" placeholder="E-mail"> {% endcomment %}
        {{login.username}}
    </label>
    {% if login.username.errors %}
        <div class="error-message">
            {{login.username.errors.as_text}}
        </div>
    {% endif %}

    <label class="input-label"  for="password">
        <i class="fa-solid fa-lock"></i>
        {% comment %} <input type="password" id="password" placeholder="Password" name="password"> {% endcomment %}
        {{login.password}}
    </label>
    {% if login.password.errors %}
        <div class="error-message">
            {{login.password.errors.as_text}}
        </div>
    {% endif %}

    {% comment %} <a  target="_parent" class="space" href="{% url 'accounts:password' %}" >Forgot your passsword ?</a> {% endcomment %}
    <button type="button" class="space" id="updateDetails" >Forgot your passsword ?</button>

    <input class="submit " type="submit" value="Sign in">
    <p class="mobile-login">already have an account?
        <a href="#" id="login-mobile">Sing In</a>
    </p>


</form>



