{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href=" {% static 'accounts/style.css' %} ">
<link rel="stylesheet" href="{% static 'accounts/media-queries.css' %}">
<link rel="stylesheet" href=" {% static 'accounts/css-screen-email-code.css' %}">
<link rel="stylesheet" href="{% static 'accounts/modal.css' %}">

<link rel="shortcut icon" href=" {% static 'img/favicon_transparent_32x32.png' %}" type="image/x-icon">

<link rel="stylesheet" href="{% static 'accounts/fontawesome-free-6.4.0-web/css/all.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

<script src=" {% static 'js/login.js' %}" defer></script>
<title>Document</title>