{% extends "social_network/partials/left_menu.html" %}
{% load static %}



{% block feed %}
    {% block show_all_friends %} {% endblock show_all_friends %}


    <div class="content_add">Add with succes</div>
    <div class="gerenal_icons_mobile">
        <div class="image_profile">
            {% if profile_data.profile_image %}
                <img src=" {{profile_data.profile_image.url}} " alt="">
            {% else %}
                <img src="{% static "img/without_user.png" %}" alt="">
            {% endif %}
        </div>
        <div class="user_info">
            <p>{{profile_data.user.username|capfirst}}</p>
        </div>
        <div class="icons_mobile">
            <i class="fa-solid fa-user-group friends_open_mobile"></i>

            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-message"></i>
            <a href="/logout/ "><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
    <div class="feed_search_user">
        <form action="" class="submit" onsubmit="return false;">
            <label for="all_users" class="search_all">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="input" type="text" id="all_users" placeholder="Search in Friend Sync">
            </label>
            <div id="suggestions" class="suggestions" data-url="{% url 'accounts:account' %}">
            </div>
        </form> 
    </div>

    <div class="status">
        <div class="modal_change_picture">
            <form action=" {% url "process_image" %} " method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                Change profile image
                {{fields.profile_image}}
                <input type="submit" value="Submit">
            </form>
    
            <form action=" {% url "create_status" %} " method='POST' enctype="multipart/form-data" id="send_status">
                {% csrf_token %}
                {{status_fields.status_image}}
            </form>
        </div>

        <button class="arrow-left control">◀</button>
        <button class="arrow-right control">▶</button>
        <div class="carousel">
            <label for="id_status_image">
                <div class="create_status_container">
                    <div class="create_status_image"><img src="{{profile_data.profile_image.url}}" alt=""></div>
                    <div class="icon_create_status">
                        <div class="icon_plus"> <i class="fa-solid fa-plus"></i> </div>
                        <p>Create status</p>
                    </div>
                </div>
            </label>

            {% if my_status %}
                <a href=" {% url 'all_status' my_status.usuario.user %}" data-link="{{my_status.usuario.user}}">
                    <div class="story item current-item">
                        <div class="user_picture_story">
                            {% if my_status.usuario.profile_image %}
                                <img src="{{ my_status.usuario.profile_image.url}}" alt="">
                            {% else %}
                                <img src="{% static "img/without_user.png" %}" alt="">
                            {% endif %}
                        </div>
                        <p>{{ my_status.usuario.user }}</p>
                        <img src="{{my_status.status_image.url}}" alt="">
                    </div>
                </a>
            {% endif %}
            
            {% for friends in friend_all %}
            
                {% if friends.friend.status_set.all %}
                    <a href=" {% url "all_status" friends.friend_name%}" data-link="{{friends.friend_name}}">
                        <div class="story item current-item">
                            <div class="user_picture_story">
                                {% if friends.friend.profile_image %}
                                    <img src="{{ friends.friend.profile_image.url }}" alt="">
                                {% else %}
                                    <img src="{% static "img/without_user.png" %}" alt="">
                                {% endif %}
                            </div>
                            <p>{{ friends.friend_name }}</p>
                            {% for status in friends.friend.status_set.all %}
                                {% if forloop.last %}
                                    <img src="{{ status.status_image.url }}" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="create_post_content">
        <div class="user_and_textarea">
            <div class="user_picture_story user_create_post">
                {% if profile_data.profile_image %}
                    <img src=" {{profile_data.profile_image.url}} " alt="">
                {% else %}
                    <img src="{% static "img/without_user.png" %}" alt="">
                {% endif %}
            </div>

            <form action=" {% url "add_post" %} " method="post" class="text" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea name="thinking" id="" cols="30" rows="1"></textarea>
                <input name="post_form_text" type="checkbox" id="post_form_checkbox" value="public" checked>
                {{post_field.post_image}}

            </form>

            <span class="span_send_post" ><i class="fa-solid fa-share"></i></span>
            <span class="text_for_new_post"><P>What is on your mind, {{profile_data.user.username|capfirst}}</P></span>
        </div>

        <div class="public_and_img">
            <class class="public">
                <i class="fa-solid fa-lock-open"></i>
                <p>This post will be public</p>
            </class>

            <div class="send_img_poss">
                <label for="id_post_image" class="id_post_image">
                     <i class="fa-solid fa-image"></i>/
                     <p>picture</p>
                </label>
            </div>
        </div>
        

    </div>
    
    {% for user_post in posts %}
        <div class="show_posts_of_users">

            <div class="user_post_content">

                <div class="user_and_username post_user_and_picture">
                    <div class="image_profile image_profile_feed">
                        {% if user_post.user.profile_image %}
                            <img src=" {{user_post.user.profile_image.url}} " alt="">
                        {% else %}
                            <img src="{% static "img/without_user.png" %}" alt="">
                        {% endif %}
                    </div>
                    <p>{{user_post.username}}</p>


                    {% if user_post.user.user.id == profile_data.user.id %}
                        <div class="delete_content" >
                            <span class="options_post" ><i class="fas fa-ellipsis-h"></i></span>
                            <div class="delete_post"><a href=" {% url "delete_post" user_post.pk %} "><span class="span_delete">Delete</span></a></div>
                        </div>
                    {% endif %}

                </div>
                
                <div class="text_post">
                    <div class="text_content">
                        <p>{{user_post.text_post}}</p>
                    </div>
                </div>

                {% if user_post.post_image %}
                    <div class="img_post">
                        <img src="{{user_post.post_image.url}}" alt="">
                    </div>
                {% endif %}

                <div class="social_icons">
                    <div class="like">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <p>like</p>
                    </div>
                    <div class="comments">
                        <i class="fa-regular fa-comments"></i>
                        <p>commentes</p>
                    </div>

                    <div class="num_likes">
                        {{user_post.likes}}: likes
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



{% endblock feed %}