{% extends "social_network/feed.html" %}
{% load static %}




{% block left_menu %}
    <div class="left_menu_fixed">
        <div class="left_menu_content">
            <div class="image_profile">
                {% if profile_data.profile_image %}
                    <img src=" {{profile_data.profile_image.url}} " alt="">
                {% else %}
                    <img src="{% static "img/without_user.png" %}" alt="">
                {% endif %}
            </div>
            <div class="user_info">
                <p>{{profile_data.user.username|capfirst}}</p>
                <p>{{profile_data.user.email|capfirst}}</p>
            </div>

           
        </div>
        <div class="left_menu_icons">
            <p>General</p>
            <div class="general_icons">
                <button class="friends_open" ><i class="fa-solid fa-user-group"></i>Friends</button>
                <button><i class="fa-solid fa-bell"></i>Notifications</button>
                <button><i class="fa-solid fa-message"></i>Messages</button>
            </div>
            <p>Private</p>
            <div class="private_icons">
                <button><i class="fa-solid fa-gear"></i>Configurations</button>
                <button><i class="fa-solid fa-circle-question"></i>Support</button>
                <a href="/logout/ "><button><i class="fa-solid fa-right-from-bracket"></i>Logout</button></a>
            </div>
        </div>

    </div>

    
    <div class="all_friends">
        <div class="friends_container">
            <div class="close_show_friends">
                <p>Friends</p>
                <i class="fa-solid fa-xmark close"></i>
            </div>
            {% for friend in friend_all %}
                <div class="friend_user" id="{{ friend.id }}">
                    <div class="profile_container profile_container_all_friends">
                        {% if friend.friend.profile_image %}
                            <img src=" {{friend.friend.profile_image.url}} " alt="">
                        {% else %}
                            <img src="{% static "img/without_user.png" %}" alt="">
                        {% endif %}
                        <p>{{friend.friend_name}}</p>
                        <button class="all_user_delete">
                            <a href=" {% url "delete_friend" friend.id%} ">Delete</a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock left_menu %}