{% extends "social_network/feed.html" %}
{% load static %}




{% block left_menu %}
    <div class="left_menu_fixed">
        <div class="left_menu_content">
            <div class="image_profile">
                {% if profile_data.profile_image %}
                    <img src=" {{profile_data.profile_image.url}} " alt="">
                {% else %}
                    <img src="{% static "img/without_user.png" %}" alt="">
                {% endif %}
            </div>
            <p>{{profile_data.user.username|capfirst}}</p>

           
        </div>
        <div class="left_menu_icons">
            <p>General</p>
            <div class="general_icons">
                <button><i class="fa-solid fa-user-group"></i>Friends</button>
                <button><i class="fa-solid fa-bell"></i>Notifications</button>
                <button><i class="fa-solid fa-message"></i>Messages</button>
            </div>
            <p>Private</p>
            <div class="private_icons">
                <button><i class="fa-solid fa-gear"></i>Configurations</button>
                <button><i class="fa-solid fa-circle-question"></i>Support</button>
                <a href="/logout/ "><button><i class="fa-solid fa-right-from-bracket"></i>Logout</button></a>
            </div>
        </div>
    </div>
{% endblock left_menu %}