{% extends "social_network/feed.html" %}

{% block modalImg %}
    <div class="modalImga">
        <form action=" {% url "process_image" %} " method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            Change profile image
            {{fields.profile_image}}
            <input type="submit" value="Submit">
        </form>

        <form action=" {% url "create_status" %} " method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            add status (temporario)
            {{status_fields.status_video}}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock modalImg %} 
{% comment %} é nescessario manda a img para a view q processa tudo {% endcomment %}