:root {
    --font-blue: #21415F;
    --light-blue: #21415f6c;
    --light-grey: rgba(211, 211, 211, 60%);
    --menu-color: #fafafa;
}

body {
    /* background-color: rgba(211, 211, 211, 60%); */
    background-color: #F0F2F5;
    margin: 0;
    padding: 0;
    color: var(--font-blue);
}

i {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: var(--font-blue);
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 12px;
    border: 2px solid var(--font-blue);
}

textarea:focus {
    outline: transparent;
}


/* esquerda */
.block {
    display: block;
}

.contente {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.left_menu {
    background-color: var(--menu-color);
    width: 200px;
    padding: 15px;
}

.content_user_picture{
    width: 100%;
    border-radius: 100%;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.user_picture {
    width: 80px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5%;
    overflow: hidden;
    z-index: 1;
}

.user_picture img {
    width: 100%;
    height: 100%;
}

.social_infos{
    width: 100%;
    word-wrap: break-word;
}

.social_infos p{
    margin: 0;
}

.user_link p{
    transition: transform .3s;
}

.user_link:hover {
    transform: scale(1.1);
}

.Email {
    color: var(--light-blue);
    font-size: 14px;
}

.private_icons {
    margin-top: 30%;
    margin-left: 3%;
}

.private_icons button {
    padding: 7px;
    transition: all .3s;
    border-radius: 10px;
    color: var(--font-blue);
    border: none;
    width: 70%;
    margin: 5px;
    text-align: left;
    background-color: var(--menu-color);
    white-space: normal;
    word-wrap: break-word;
}

.general,
.private {
    color: var(--light-blue);
    margin-bottom: 15px;
    margin-top: 15px;
}

.private_icons button:hover {
    background-color: #d3d3d39d;
    cursor: pointer;
}

.private_icons button:active {
    scale: 0.9;
}


/* meio */

.feed {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.search_all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--font-blue);
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.425);
}

.search_all .input{
    width: 90%;
    height: 90%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.search_all i {
    pointer-events: none;
    font-size: 1.4rem;
    padding-left: 18px;
}

.suggestions{
    position: absolute;
    top: 100%;
    background-color: white;
    position: absolute;
    width: 98%;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    box-shadow: 7px 5px 5px 0px #00000024;
}

#user_link_profile{
    background-color: #33333328;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 93%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: all .4s;
}

#user_link_profile:hover{
    cursor: pointer;
    background-color: #33333359;
}

#profile_image {
    width: 50px; /* Defina o tamanho desejado para a imagem de perfil */
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}
 
.username {
    font-size: 20px; /* Defina o tamanho da fonte desejado para o nome de usuário */
    color: #333; /* Defina a cor do texto desejada */
}

.status {
    width: 100%;
    height: 250px;
    margin-top: 40px;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    position: relative;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0;
  cursor: pointer;
  border: none;
  z-index: 1;
}

.arrow-right {
    position: absolute;
    top: 0;
    right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
  left: auto;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.carousel {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.story {
    min-width: 150px;
    height: 100%;
    position: relative;
    margin-left: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 4px;
    border-radius: 10px;
    /* border: 3px solid var(--font-blue); */
    overflow: hidden;
    opacity: 1;
}

.current-item {
    opacity: .8;
}

.story p {
    margin: 10px;
    z-index: 1;
    color: white;
}

.story img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.story:hover {
    cursor: pointer;
}

.user_picture_story{
    width: 48px;
    height: 48px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.user_picture_story img {
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* direita */
.right_feed {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    justify-content: space-between;
}

.peoples {
    background-color: white;
    height: 35%;
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 15px;
}

.friends {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 90%;
    border: 3px solid #21415F;
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;

}

.friends p:nth-child(1) {
    width: 99%;
    font-size: 1.8rem;
    word-wrap: break-word;
}

.search_friends {
    background-color: #d3d3d391;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #00000067;
    cursor: text;
    padding: 3px;
}

.form_friends {
    width: 90%;
    position: relative;
}

.search_friends:focus-within {
    border: 2px solid #21415F;
}

.search_friends input {
    border: none;
    height: 90%;
    width: 100%;
    background-color: transparent;
    outline-style: none;
    font-size: 0.8rem;
}

.content_all_friends {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-y: auto;
    margin-right: 5px;
}

.content_all_friends::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}


.content_all_friends:hover{
    overflow-y: auto;
}

.content_all_friends:hover::-webkit-scrollbar {
    width: 12px;
}


.content_all_friends:hover::-webkit-scrollbar-thumb {
    background-color: #c8c9cc;
    border-radius: 7px;

}

.content_friends {
    background-color:var(--light-grey);
    height: 17%;
    width: 65%;
    display: flex;
    align-items: center;
    border-radius: 11px;
    padding: 5px;
    font-size: 1.2rem;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    margin: 4%;
}

.friend_picture {
    width: 50px;
    height: 50px;
    
}