:root{
    --color-overlay: #306684 ;
    --color-input: #D9D9D9;

}

@media (max-width: 1180px){
    main {
        width: 90%;
    }
    
}

@media (max-width: 918px) {
    .form-content-register h1,
    .overlay h1{
        font-size: 2.3rem;
    }

    .input-label{
        width: 80%;
    }

    .submit {
        width: 100px;
        min-height: 35px;
    }

    .button-overlay {
        border: 1px solid white;
        height: 40px;
        width: 115px;
    }

}


@media (max-width:710px) {
    main {
        width: 98%;
    }
    .form-content-register h1,
    .overlay h1{
        font-size: 1.9rem;
    }
}


@media (max-width:550px){
    main {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .form-content-register {
        width: 100vw;
        height: 100vh;
    }

    .logo-form {
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
    }

    .form-content-register h1 {
        font-size: 3rem;
    }

    .links {
        margin-top: 8%;
    }
    

    .form {
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

    .form-register {
        background-color: var(--color-overlay);
        color: white;
    }

    .input-label {
        height: 70px;
    }

    .form-register .input-label {
        color: var(--color-overlay);
    }


    .submit {
        width: 120px;
        min-height: 45px;
        border: 2px solid white;
    }

    .mobile-register,
    .mobile-login {
        padding-top: 25px;
        margin-bottom: 25px;
        display: block;
    }

    .mobile-register a {
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    .mobile-login a {
        font-weight: bold;
        text-decoration: none;
        color: var(--color-overlay)
    }

    .overlay-content {
        visibility: hidden;
        display: none;
    }

    /*  */
    .form-login {
        z-index: 1;
    }

}