:root {
    --font-roboto: 'Roboto', sans-serif 
}

dialog::backdrop{
    background-color: rgb(0 0 0 / .65);
}

dialog {
    width: 400px;
    height: 400px;
    border: 3px solid #21415F;
    border-radius: 17px;
    font-family: var(--font-roboto);
    overflow-x: hidden;
    overflow-y: hidden;
}

.img_modal {
    margin-top: 20px;
    margin-bottom: 70px;
}


.modal-label {
    width: 95%;
    height: 99%;
    color: #306684; 
    /* cor acima e do overlay, por em variaveis */
}

.form_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_modal {
    height: 30px;
    width: 300px;
    border-radius: 20px;
    color: white;
    margin: 0;
    margin-top: 20px;
}

#closeModel {
    height: 30px;
    width: 300px;
    background-color: #D9D9D9;
    color: black;
    font-size: 17px;
    margin-top: 10px;
}

@media (max-width: 550px) {
    .img_modal {
        margin-bottom: 45px;
    }

    .form_modal > .modal-label {
        min-height: 40px;
    }
}