a {
    text-decoration: none;
}

/* input for search users */
.feed_search_user {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.submit {
    display: flex;
    justify-content: center;
}

.search_all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 100%;
    border-radius: 10px;
    border: 3px solid var(--font-color-blue);
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.425);
}

.search_all .input{
    width: 90%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.search_all i {
    pointer-events: none;
    font-size: 1.4rem;
    padding-left: 18px;
}
/*  */

/* show status */
.status {
    width: 100%;
    height: 250px;
    margin-top: 40px;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    position: relative;
    padding-right: 10px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  height: 100%;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0;
  cursor: pointer;
  border: none;
  z-index: 1;
  margin: 0;
}

.arrow-right {
    position: absolute;
    top: 0;
    right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
  left: auto;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.carousel {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
}

.story {
    min-width: 150px;
    height: 100%;
    position: relative;
    margin-left: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 4px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
}

.current-item {
    opacity: .8;
}

.story p {
    margin: 10px;
    z-index: 1;
    color: var(--font-color-blue);
    font-weight: bolder;
}

.story img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.story:hover {
    cursor: pointer;
}

.user_picture_story{
    width: 48px;
    height: 48px;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.user_picture_story img {
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*  */

/* div create post */

.create_post_content {
    width: 80%;
    min-height: 150px;
    margin-top: 70px;
    border-radius: 20px;
    border: 2px solid var(--font-color-blue);
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

} 

.user_and_textarea {
    display: flex;
    flex-direction: row;
    width: 90%;
    overflow: hidden;
    align-items: center;
    padding: 15px;
    position: relative;
}

.user_create_post{
    margin-right: 20px;
    height: 60px;    
    width: 60px;
}

.text {
    width: 100%;
    border: 2px solid var(--font-color-blue);
    border-radius: 10px;
    overflow: hidden;
}

textarea{
    width: 93%;
    min-height: 60px;
    max-height: 200px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

textarea:focus {
    outline: none;
}

span {
    pointer-events: none;
}

.public:hover {
    cursor: pointer;
}

.public_and_img {
    padding-left: 85px;
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.public_and_img, .public{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.public_and_img p {
    margin: 2px;
}

#post_form_text {
    display: none;
}

#post_form_checkbox {
    display: none;
}


.span_send_post {
    position: absolute;
    top: 43%;
    right: 20px;
    pointer-events: all;
}

.span_send_post:hover {
    cursor: pointer;
}

.text_for_new_post {
    position: absolute;
    top: 38%;
    left: 100px;
    color: var(--font-color-blue);
}

.text_for_new_post p {
    font-size: 1.1rem;
    margin: 0;
}

.span_send_post i {
    font-size: 1.2rem;
}
/*  */


/* friend search bar */

.suggestions{
    position: absolute;
    top: 100%;
    background-color: white;
    position: absolute;
    width: 98%;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    box-shadow: 7px 5px 5px 0px #00000024;
}

.suggestions p {
    text-decoration: none;
}

.image_profile_search{
    background-color: var(--background-suggestions-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 93%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    transition: all .4s;
}

.image_profile_search:hover{
    cursor: pointer;
    background-color: var(--background-suggestions-hover-color);
}

.search_img img{
    width: 50px;
    height: 50px;
}

.username {
    margin-right: auto;
    color: var(--font-color-blue);
    font-weight: bold;
    text-transform: capitalize;

}

.add {
    z-index: 3;
    color: white;
    background-color: var(--font-color-blue);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;
    transition: all .5s;
    border: 1px solid white;
}

.add:hover {
    transform: scale(1.03);
}

.content_add{
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    top: 9%;
    background-color: var(--color-success-light);
    position: absolute;
    z-index: 3;
    border-radius: 13px;
    font-size: 1.2em;
    border: 1px solid var(--color-success-dark);
    color: var(--color-success-dark);
    display: none;
}
/*  */

/* div for show all posts */
.show_posts_of_users {
    width: 80%;
}

.user_post_content {
    display: flex;
    flex-direction: column;
    margin: 15px;
    max-height: 570px;
    border-radius: 15px;
    background-color: var( --background-body-color);
    border: 2px solid var(--font-color-blue);
    position: relative;
}

.user_and_username {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.post_user_and_picture {
    height: 40px;
    position: relative;
}

.image_profile_feed{
    width: 35px;
    height: 35px;
}

.text_post {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    word-wrap: break-word;

}

.text_content {
    max-height: 100px;   
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
}

.text_content p {
    margin: 0;
    color: black;
    font-weight: bold;
}

.img_post {
    width: 98%;
    height: 350px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px ;
}

.img_post img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.social_icons,
.like,
.comments,
.num_likes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icons p,
.like p,
.comments p,
.num_likes p {
    margin: 0;
}

.like,
.comments,
.num_likes {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.social_icons {
    width: 100%;   
    justify-content: space-around;
    margin: auto 0;
    padding: 5px;
    
}
/*  */


/* div that open when clicked in ellipses */
.delete_content {
    width: 25px;
    height: 25px;
    margin-left: auto;
}

.delete_content:hover {
    cursor: pointer;
}

.delete_post {
    position: absolute;
    width: 65px;
    height: 19px;
    top: -34px;
    left: 36px;
    background-color: var(--background-body-color);
    z-index: 3;
    border-radius: 8px; /* Borda arredondada para a div */
    padding: 10px; /* Espaçamento interno para o texto */
    position: relative;
    border: 2px solid var(--font-color-blue);
    font-weight: bolder;
    font-size: 1rem;
    opacity: 0;
    display: block;
    transition: opacity 0.2s ease
}

.delete_post a {
    text-decoration: none;
    color: var(--font-color-blue);
}

.delete_post::before {
    content: "";
    position: absolute;
    top: 43%;
    left: -26px; /* Posição da ponta */
    margin-top: -10px;
    border: 13px solid transparent;
    border-right-color: var(--font-color-blue); 
}

.options_post i{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* files */

#id_post_image {
    display: none;
}

.id_post_image {
    display: flex;
    width: 80px;
    align-items: center;
}

.id_post_image:hover {
    cursor: pointer;
}

.id_post_image i{
    padding: 0;
}
