<!DOCTYPE html>

{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "social_network/feed.css" %}">
    <link rel="shortcut icon" href=" {% static 'img/favicon_transparent_32x32.png' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static "social_network/partials/left_menu.css" %} ">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
    <script src="{% static "social_network_js/js/social_newtwork1.js" %} "></script>

    <link rel="stylesheet" href="{% static "social_network/partials/feed.css" %} ">
    <link rel="stylesheet" href="{% static 'accounts/fontawesome-free-6.4.0-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static "social_network/partials/show_all_status.css" %}">
    <link rel="stylesheet" href="{% static "social_network/partials/friends.css" %}">

    <script src=" {% static 'social_network_js/js/carrosel.js' %} "></script>

    <title>{% block title %} Feed {% endblock title %} Feed </title>

</head>
<body>

    <div class="content">
        <div class="left_menu">
            {% block left_menu %}{% endblock left_menu %}
            
        </div>

        <div class="feed">

            {% block feed %}{% endblock feed %}
            {% block show_all_status_of_user %}{% endblock show_all_status_of_user %}
        </div>
            
        <div class="friends">
            {% block friends %}{% endblock friends %}
        </div>
    </div>
</body>
</html>